*.xml
*.iml
*.pyc
__pycache__/*
.ipynb_checkpoints/main-checkpoint.ipynb
*.txt
*.json
backup/results/__init__.py
backup/*
data/cifar10/*
data/mnist/*
data/fashion_mnist/*
images/*
results/wgan.pt
results/wgan_state_dict.pt
results/dcgan.pt
results/dcgan_state_dict.pt